@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700|Bangers|Press+Start+2P|VT323);

body {
	margin: auto 0 auto;
    background: #ccf;
    font-family: 'Vollkorn';
    position: static;
}

header {
    position: static;
}


#banner {
    font-family: 'Press Start 2P';
    margin: 0;
    min-height: 300px;
    background: #33a url('waves-fractal-abstract-blue-header-1388.jpg') no-repeat fixed center top;
    background-size: 100%;
    color: black;
    text-align: center;
    font-variant: small-caps;
    position: static;
}

.banner h1 {
    font-style: bold;
    padding-top: 3em;
    vertical-align: bottom;
}

.banner h3 {
    font-family: VT323;
    font-style: bold;
    font-size: 3em;
    color: #444;
}

#top-menu {
    background: #006;
    font-variant: small-caps;
    font-family: 'Press Start 2P';
    text-align: left;
}

#top-menu ul {
    margin: 0;
}

#top-menu ul li {
	list-style: none;
	vertical-align: btop;
	line-height: 3;
	text-decoration: none;
	display: inline-block;
}

#top-menu ul li a {
    text-decoration: none;
    font-style: bold;
    color: #CED8F6;
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
    padding: .5em .5em .5em;
}

#top-menu a:hover {
    background: #CED8F6;
    color: #006;
    border: #CED8F6;
    border-radius: 15px 5px;
}

#top-menu a:active {
    background: #ccf;
    color: #006;
    border: #CED8F6;
    border-radius: 15px 5px;
}

.search {
    /*position: fixed;*/
    float: right;
    text-align: right;
    width: 20%;
    height: 10%;
}

.comingsoon {
    float: none;
}

body.home a.homenav,
body.about a.aboutnav,
body.blog a.blognav,
body.tools a.toolsnav,
body.learning a.learningnav {
    background: #33f;
    color: #006;
    border-radius: 5px 15px;
}

body h2 {
    text-align: center;
    font-family: 'VT323';
    font-size: 3em;
}


p {
    padding: 0 2em;
    font-size: medium;
}

footer  {
    font-family:  monospace;
	display: block;
	background-color: #006;
	bottom: 0;
	margin: 2em 0 0;
	padding: 1em 2em 1em;
	min-height: 2em;
	min-width: 100%;
	position: fixed;
    color: #ccf;
}

footer p {
	display: inline-block;
	font-size: .5em;
	margin: 0 5em 0 0;
}

.copyright {
	float: left;
	text-align: left;
	width: 100%;
    line-height: 1em;

}

.copyright a {
	text-decoration: none;
    color: #CED8F6;
}

.BTBlogo {
	vertical-align: top;
	height: 15px;
	width: 25px;
	background: none;
}

.CDPlogo {
    vertical-align: bottom;
    height: 20px;
    width: 20px;
    background: none;
}

.copyright a img:hover {
	box-shadow: none;
}